body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #1e1e1e;
}

.container {
    margin: 20px auto;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 40%;
    background: #fff;;
}

.slider-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider-img img {
    width: 100%;
    height: 100%;
}

#image-one, 
#image-two, 
#image-three {
    display: none;
}

.slider-text {
    width: 76%;
    position: absolute;
    bottom: 10%;
    left: 12%;
    text-align: center;
    color: #fff;
    font-size: 1.2vw;
}

.pre, .nxt {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .1);
    z-index: 100;
    cursor: pointer;
}

.pre {
    left: 0;
}

.nxt {
    right: 0;
}

.fa-chevron-left {
    color: #fff;
    font-size: 2.5vw;
    position: absolute;
    top: 45%;
    left: 35%;
}

.fa-chevron-right {
    color: #fff;
    font-size: 2.5vw;
    position: absolute;
    top: 45%;
    right: 35%;
}

.nav {
    width: 100%;
    height: 11px;
    bottom: 5%;
    position: absolute;
    text-align: center;
    z-index: 100;
}

.dots {
    width: 1vw;
    height: 1vw;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #fff;
}

.slider-img {
    z-index: -1;
}

#image-one:checked ~ #one,
#image-two:checked ~ #two,
#image-three:checked ~ #three {
    z-index: 9;
}

#image-one:checked ~ .nav #dot-one,
#image-two:checked ~ .nav #dot-two,
#image-three:checked ~ .nav #dot-three {
    background: #fff;
}

